body{
    background-color: blue;
}
header{
    color: white;
    text-align: center;
    background: black;
    font-size: 30px;
    padding: 60px;
}
.form{
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
  }
  input[type=text]{
    color: white;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
  }
